body{
    background: white;
    color: #202020;
}

.titulos{
    color: #202020;
}

.encabezado{
    margin-top: 5rem;
}

.texto{
    text-transform: capitalize;
}

.images{
    max-width: 70rem;
    max-height: 300px;
}